@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

::-moz-selection {
  background-color: #9f2349ff;
  color: #deab54ff;
}

::selection {
  background-color: #9f2349ff;
  color: #deab54ff;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

section,
footer,
header {
  content-visibility: auto;
  contain-intrinsic-size: 250px;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

ion-icon {
  font-size: 5rem;
}
@media (max-width: 900px) {
  ion-icon {
    font-size: 3.5rem;
  }
}

body {
  color: #777777;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.heading {
  color: #9f2349ff;
  font-size: 5rem;
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #9f2349ff, #701933);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.heading:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(44, 62, 80, 0.2);
}
@media (max-width: 900px) {
  .heading {
    font-size: 4rem;
  }
}
@media (max-width: 375px) {
  .heading {
    font-size: 3rem;
  }
}
.heading--small {
  font-size: 3rem;
}
@media (max-width: 375px) {
  .heading--small {
    font-size: 2.5rem;
  }
}
.heading--white {
  color: white;
}

.u-center-text {
  text-align: center;
}

.u-margin-botton-50 {
  margin-bottom: 5rem;
}

.u-margin-botton-30 {
  margin-bottom: 3rem;
}

.btn {
  font-size: 2rem;
  padding: 1rem 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 1.3rem;
  transition: all 0.2s;
  border: transparent;
}
@media (max-width: 667px) {
  .btn {
    font-size: 1.8rem;
    padding: 0.8rem 2rem;
  }
}
.btn--wine {
  color: #deab54ff;
  background-color: #9f2349ff;
}
.btn--uniodonto {
  background-color: #deab54ff;
  color: #9f2349ff;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
}

.menu {
  z-index: 1;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(44, 62, 80, 0.8);
}
@media (max-width: 760px) {
  .menu {
    display: none;
  }
}
.menu-itens {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  grid-template-rows: auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  padding: 1rem;
}
@media (max-width: 900px) {
  .menu-itens {
    max-width: 90%;
  }
}
@media (max-width: 760px) {
  .menu-itens {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 2rem;
  }
}
.menu--content {
  justify-self: center;
  align-self: center;
  transition: all 0.2s;
  padding: 1rem;
}
.menu--content:hover {
  transform: scale(1.1);
  color: #deab54ff;
}
.menu--link {
  color: white;
  font-size: 1.5rem;
}
.menu--link:hover {
  color: #deab54ff;
}

.mobile-nav {
  display: none;
}
@media (max-width: 760px) {
  .mobile-nav {
    display: block;
  }
}
.mobile__check {
  display: none;
}
.mobile__btn {
  background-color: white;
  position: fixed;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  top: 4rem;
  right: 4rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 3;
  text-align: center;
  cursor: pointer;
}
.mobile__bg {
  position: fixed;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-image: radial-gradient(#9f2349ff, #521225);
  top: 4.5rem;
  right: 4.5rem;
  z-index: 1;
  transition: all 0.8s;
}
.mobile__navigation {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  width: 0;
}
.mobile__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile__itens {
  margin: 1rem;
  transition: all 0.2s;
}
.mobile__itens:hover {
  color: #deab54ff;
  transform: scale(1.1);
}
.mobile__link {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  transition: all 0.2s;
}
.mobile__link:hover {
  color: #deab54ff;
}
.mobile__check:checked ~ .mobile__bg {
  transform: scale(90);
}
.mobile__check:checked ~ .mobile__navigation {
  opacity: 1;
  width: 100%;
}
.mobile__icon {
  position: relative;
  margin-top: 2.5rem;
}
.mobile__icon, .mobile__icon::before, .mobile__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #9f2349ff;
  display: inline-block;
}
.mobile__icon::after, .mobile__icon::before {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.mobile__icon::before {
  top: -1rem;
}
.mobile__icon::after {
  top: 1rem;
}
.mobile__check:checked + .mobile__btn .mobile__icon {
  background-color: transparent;
}
.mobile__check:checked + .mobile__btn .mobile__icon::before {
  top: 0;
  transform: rotate(45deg);
}
.mobile__check:checked + .mobile__btn .mobile__icon::after {
  top: 0;
  transform: rotate(-45deg);
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - (6rem * 2)) / 3);
}
.row .col-2-of-3 {
  width: calc(((100% - (6rem * 2)) / 3)* 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - (6rem * 3)) / 4);
}
.row .col-2-of-4 {
  width: calc(((100% - (6rem * 3)) / 4)* 2 + 6rem);
}
.row .col-3-of-4 {
  width: calc(((100% - (6rem * 3)) / 4)* 3 + (2 * 6rem));
}

.fullsite {
  padding: 3rem;
}

.header {
  width: 100%;
  background-image: url(../img/hero--large.jpg);
  background-size: cover;
  background-position-y: 30%;
  height: 80vh;
  position: relative;
}
@media (max-width: 667px) {
  .header {
    height: 90vh;
    background-position-y: 0;
  }
}
@media (max-width: 375px) {
  .header {
    height: 75vh;
    background-position-x: 30%;
  }
}
.header__logo-box {
  position: absolute;
  top: 3.5rem;
  left: 7rem;
  max-width: 50rem;
}
@media (max-width: 667px) {
  .header__logo-box {
    max-width: 35rem;
    left: 2rem;
  }
}
@media (max-width: 375px) {
  .header__logo-box {
    top: 4rem;
    left: 2rem;
    max-width: 25rem;
  }
}
.header__logo-box__logo {
  height: 11rem;
}
@media (max-width: 760px) {
  .header__logo-box__logo {
    height: 9rem;
  }
}
@media (max-width: 375px) {
  .header__logo-box__logo {
    height: 5rem;
  }
}
.header__text-box {
  position: absolute;
  width: 37%;
  left: 7rem;
  top: 60%;
  transform: translateY(-50%);
}
@media (max-width: 900px) {
  .header__text-box {
    width: 40%;
  }
}
@media (max-width: 667px) {
  .header__text-box {
    top: 70%;
    width: 50%;
    left: 2rem;
  }
}
@media (max-width: 375px) {
  .header__text-box {
    width: 60%;
    left: 2rem;
  }
}
.header__text-box--title {
  color: white;
  display: block;
  line-height: 4rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
}
@media (max-width: 900px) {
  .header__text-box--title {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 667px) {
  .header__text-box--title {
    font-size: 2rem;
  }
}
@media (max-width: 375px) {
  .header__text-box--title {
    font-size: 2rem;
  }
}

.header-about {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  align-items: center;
  background-image: url(../img/workers.jpg);
  background-size: cover;
  background-position-y: 45%;
  height: 60vh;
}
.header-about__logo-box {
  max-width: 40rem;
  align-self: center;
}
@media (max-width: 900px) {
  .header-about__logo-box {
    max-width: 30rem;
  }
}
@media (max-width: 667px) {
  .header-about__logo-box {
    max-width: 35rem;
  }
}
@media (max-width: 375px) {
  .header-about__logo-box {
    max-width: 25rem;
  }
}
.header-about__logo-box__logo {
  height: 11rem;
}
@media (max-width: 760px) {
  .header-about__logo-box__logo {
    height: 9rem;
  }
}
@media (max-width: 375px) {
  .header-about__logo-box__logo {
    height: 5rem;
  }
}
.header-about__text-box {
  max-width: 40rem;
  align-self: center;
  justify-self: end;
}
@media (max-width: 900px) {
  .header-about__text-box {
    max-width: 30rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 760px) {
  .header-about__text-box {
    justify-self: start;
    max-width: 20rem;
  }
}
.header-about__text-box--title {
  color: #9f2349ff;
  line-height: 4rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
  text-align: right;
}
@media (max-width: 900px) {
  .header-about__text-box--title {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 760px) {
  .header-about__text-box--title {
    font-size: 2rem;
    text-align: left;
  }
}
@media (max-width: 375px) {
  .header-about__text-box--title {
    font-size: 2rem;
  }
}

.header-contact {
  width: 100%;
  padding: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
  background-image: url(../img/contato.jpg);
  background-size: cover;
  background-position: top;
  height: 60vh;
}
.header-contact__logo-box {
  max-width: 40rem;
  align-self: center;
  justify-self: end;
}
@media (max-width: 900px) {
  .header-contact__logo-box {
    max-width: 30rem;
  }
}
@media (max-width: 667px) {
  .header-contact__logo-box {
    max-width: 35rem;
  }
}
@media (max-width: 375px) {
  .header-contact__logo-box {
    max-width: 25rem;
  }
}
.header-contact__logo-box__logo {
  height: 11rem;
}
@media (max-width: 760px) {
  .header-contact__logo-box__logo {
    height: 9rem;
  }
}
@media (max-width: 375px) {
  .header-contact__logo-box__logo {
    height: 5rem;
  }
}
.header-contact__text-box {
  max-width: 40rem;
  align-self: center;
  justify-self: end;
}
@media (max-width: 900px) {
  .header-contact__text-box {
    max-width: 30rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 760px) {
  .header-contact__text-box {
    justify-self: start;
    max-width: 20rem;
  }
}
.header-contact__text-box--title {
  color: #9f2349ff;
  line-height: 4rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  -webkit-animation: moveInLeft 1s ease-out;
          animation: moveInLeft 1s ease-out;
  text-align: right;
}
@media (max-width: 900px) {
  .header-contact__text-box--title {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 760px) {
  .header-contact__text-box--title {
    font-size: 2rem;
    text-align: left;
  }
}
@media (max-width: 375px) {
  .header-contact__text-box--title {
    font-size: 2rem;
  }
}

.partners {
  margin-top: 5rem;
  content-visibility: auto;
}
.partners__logos {
  width: 80%;
  margin: 0 auto 8rem;
  display: grid;
  grid-template-rows: 9rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  gap: 3rem;
}
@media (max-width: 940px) {
  .partners__logos {
    width: 90%;
  }
}
.partners__logos--containers {
  text-align: center;
  margin: auto;
}
.partners__logos--img {
  max-height: 4rem;
  max-width: 8rem;
  transition: all 0.3s;
}
.partners__logos--img:hover {
  transform: scale(1.1);
}
.partners__logos-5 {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 9rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.site-footer {
  background-color: #9f2349ff;
  color: #ffffff;
  padding-top: 5rem;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.site-footer__grid {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  grid-template-areas: "info contact";
}
@media (max-width: 900px) {
  .site-footer__grid {
    width: 90%;
  }
}
@media (max-width: 760px) {
  .site-footer__grid {
    width: 90%;
    margin: 2rem auto;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    grid-template-areas: "contact" "info";
  }
}
.site-footer__info {
  display: grid;
  grid-area: info;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: auto;
  align-items: center;
  font-size: 1.5rem;
}
@media (max-width: 900px) {
  .site-footer__info {
    font-size: 1.3rem;
  }
}
@media (max-width: 760px) {
  .site-footer__info {
    justify-self: center;
    width: 80%;
    grid-template-columns: 1fr 6fr;
    row-gap: 1.6rem;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
    padding-bottom: 4rem;
  }
}
.site-footer__info a {
  color: white;
  display: inline-block;
  padding: 0;
  font-size: 0.8rem;
  transition: all 0.2s;
}
@media (max-width: 900px) {
  .site-footer__info a {
    font-size: 0.5rem;
  }
}
.site-footer__info a:hover {
  color: #deab54ff;
  transform: translateY(-0.5rem);
}
.site-footer__form {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: right;
}
@media (max-width: 900px) {
  .site-footer__form {
    font-size: 1.2rem;
  }
}
@media (max-width: 760px) {
  .site-footer__form {
    margin-bottom: 4rem;
  }
}
.site-footer__form form {
  grid-area: contact;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  font-family: inherit;
  grid-template: "label input";
}
.site-footer__form form *:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 900px) {
  .site-footer__form form {
    grid-template-columns: 1fr 5fr;
  }
}
@media (max-width: 760px) {
  .site-footer__form form {
    grid-template-columns: 1fr 5fr;
  }
}
.site-footer__form form label {
  grid-column: label;
}
.site-footer__form form input,
.site-footer__form form button {
  grid-column: input;
}
.site-footer__form form input[type=text],
.site-footer__form form input[type=email],
.site-footer__form form input[type=tel],
.site-footer__form form input[type=submit],
.site-footer__form form select,
.site-footer__form form textarea {
  width: 100%;
  padding: 7px;
  width: 90%;
}

.site-footer-contato {
  background-color: #9f2349ff;
  color: #ffffff;
  padding-top: 5rem;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.site-footer-contato__grid {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  grid-template-areas: "info";
}
@media (max-width: 900px) {
  .site-footer-contato__grid {
    width: 90%;
  }
}
@media (max-width: 760px) {
  .site-footer-contato__grid {
    width: 90%;
    margin: 2rem auto;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    grid-template-areas: "contact" "info";
  }
}
.site-footer-contato__info {
  display: grid;
  grid-area: info;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: auto;
  align-items: center;
  justify-items: start;
  font-size: 1.5rem;
}
.site-footer-contato__info ion-icon,
.site-footer-contato__info a {
  justify-self: end;
}
.site-footer-contato__info ion-icon:last-child,
.site-footer-contato__info a:last-child {
  justify-self: start;
}
@media (max-width: 900px) {
  .site-footer-contato {
    font-size: 1.3rem;
  }
}
@media (max-width: 760px) {
  .site-footer-contato {
    justify-self: center;
    width: 80%;
    grid-template-columns: 1fr 6fr;
    row-gap: 1.6rem;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
    padding-bottom: 4rem;
  }
}
.site-footer-contato a {
  color: white;
  display: inline-block;
  padding: 0;
  font-size: 0.8rem;
  transition: all 0.2s;
}
@media (max-width: 900px) {
  .site-footer-contato a {
    font-size: 0.5rem;
  }
}
.site-footer-contato a:hover {
  color: #deab54ff;
  transform: translateY(-0.5rem);
}

.vantages-grid {
  display: grid;
  max-width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  -moz-column-gap: 7rem;
       column-gap: 7rem;
  content-visibility: auto;
}

.vantage-box {
  text-align: center;
  transition: all 0.3s;
  margin-top: 4rem;
}
.vantage-box:hover {
  transform: translateY(-1rem) scale(1.1);
}
.vantage-box__icon {
  height: 12rem;
}
@media (max-width: 900px) {
  .vantage-box__icon {
    font-size: 10rem;
  }
}
.vantage-box__title {
  font-size: 2.7rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}
@media (max-width: 900px) {
  .vantage-box__title {
    font-size: 1.8rem;
  }
}
.vantage-box__text {
  font-size: 1.7rem;
  line-height: 1.1;
}
@media (max-width: 900px) {
  .vantage-box__text {
    font-size: 1.5rem;
  }
}

.section-vantages {
  background-color: #dedede;
  padding: 7rem;
}

.sobre-nos {
  width: 100%;
  padding: 3rem;
  background-color: #9f2349ff;
}
.sobre-nos__container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  align-items: center;
  justify-items: center;
}
.sobre-nos__text {
  background-color: rgba(82, 18, 37, 0.5);
  padding: 3rem;
}
.sobre-nos__paragraph {
  color: #deab54ff;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.sobre-nos__paragraph:last-of-type {
  margin-bottom: 0;
}
.sobre-nos__quote {
  grid-column: 1/-1;
  justify-self: center;
  color: #ecf0f1;
  font-size: 2rem;
  font-style: italic;
  max-width: 70rem;
  margin: 4rem auto;
  text-align: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

iframe {
  max-width: 40rem !important;
  width: 100% !important;
  height: 100% !important;
}

.contact {
  display: grid;
  margin: 0 auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  padding: 3rem;
}
.contact h2 {
  color: #9f2349ff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.contact h3 {
  font-size: 1.5rem;
}
.contact h3 a {
  color: inherit;
  transition: all 0.3s;
}
.contact h3 a:hover {
  color: #deab54ff;
  transform: translateY(1.1);
}
.contact h4 {
  font-size: 1.3rem;
}
.contact form {
  background-color: #9f2349ff;
  color: #deab54ff;
  padding: 3rem;
  border-radius: 10px;
}
.contact form label {
  justify-self: center;
}
.contact-right {
  grid-area: right;
  justify-self: stretch;
}
.contact-left {
  display: grid;
  grid-area: left;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "duvidas end" "form form";
}
@media (max-width: 900px) {
  .contact-left {
    grid-template-columns: 1fr;
    grid-template-areas: "duvidas" "end" "form";
    text-align: center;
  }
}
.contact-left__duvidas {
  grid-area: duvidas;
}
.contact-left__end {
  grid-area: end;
}
.contact-left__form {
  grid-area: form;
}/*# sourceMappingURL=style.css.map */