.contact {
  display: grid;
  margin: 0 auto;
  column-gap: 3rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  padding: 3rem;

  h2 {
    color: $uniodonto;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    font-size: 1.5rem;

    a {
      color: inherit;
      transition: all .3s;
      &:hover {
        color: $uniodontotext;
        transform: translateY(1.1);
      }
    }
  }

  h4 {
    font-size: 1.3rem;
  }

  form{
    background-color: $uniodonto;
    color: $uniodontotext;
    padding: 3rem;
    border-radius: 10px;

    label {
      justify-self: center;
    }
  }
  &-right {
    grid-area: right;
    justify-self: stretch;
  }

  &-left {
    display: grid;
    grid-area: left;
    column-gap: 3rem;
    row-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "duvidas end"
      "form form";

      @media (max-width:900px){
        grid-template-columns: 1fr;
        grid-template-areas:
      "duvidas"
      "end"
      "form";

      text-align: center;

      }

    &__duvidas {
      grid-area: duvidas;
    }
    &__end {
      grid-area: end;
    }
    &__form {
      grid-area: form;
    }
  }

  
}
