.sobre-nos {
  width: 100%;
  padding: 3rem;
  background-color: $uniodonto;
  
  &__container{
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 3rem;
  align-items: center;
  justify-items: center;
  }

  &__text{
    background-color:rgba($color: $uniodontoDarker, $alpha: .50);
    padding: 3rem;
  }

  &__paragraph {
    color: $uniodontotext;
    font-size: 1.4rem;
    margin-bottom: 2rem;

    &:last-of-type{
      margin-bottom: 0;
    }    
  }

  &__quote {
    grid-column: 1 / -1;
    justify-self: center;
    color: $colorCloud;
    font-size: 2rem;
    font-style: italic;
    max-width: 70rem;
    margin: 4rem auto;
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;      
    }
  }

  iframe {
    max-width: 40rem !important;
    width: 100% !important;
    height: 100% !important;
  }