.header {
  width: 100%;
  background-image: url(../img/hero--large.jpg);
  background-size: cover;
  background-position-y: 30%;
  height: 80vh;
  position: relative;

  @media (max-width:667px) {
    height: 90vh;
    background-position-y: 0;


  }

  @media (max-width: 375px) {
    height: 75vh;
    background-position-x: 30%;


  }
  
  &__logo-box{
    position: absolute;
    top: 3.5rem;
    left: 7rem;
    max-width: 50rem;
    
    @media (max-width: 667px) {
      max-width: 35rem;
      left: 2rem;

    }

    @media (max-width: 375px) {
      top: 4rem;
      left: 2rem;  
      max-width: 25rem;
    }
  
  &__logo {
    height: 11rem;

    @media (max-width:760px){
      height: 9rem;
    }
    @media (max-width: 375px) {
      height: 5rem;
    }
  }
}

  &__text-box {
    position: absolute;
    width: 37%;
    left: 7rem;
    top: 60%;
    transform: translateY(-50%);

    @media (max-width: 900px) {
      width: 40%;
    }

    @media (max-width: 667px) {
      top: 70%;
      width: 50%;
      left: 2rem;

    }

    @media (max-width: 375px) {
      width: 60%;
      left: 2rem;
    }
  
    &--title{
      color: white;
      display: block;
      line-height: 4rem;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 2rem;
      animation: moveInLeft 1s ease-out;

      @media (max-width: 900px) {
        line-height: 3.5rem;
        font-size: 2.5rem;
    }

    @media (max-width: 667px) {
      font-size: 2rem;
    }

    
    @media (max-width: 375px) {
      font-size: 2rem;
    }
}
  }}