.header-about {
  width: 100%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 3rem;
  align-items: center;
  background-image: url(../img/workers.jpg);
  background-size: cover;
  background-position-y: 45%;
  height: 60vh;

  &__logo-box {
    max-width: 40rem;
    align-self: center;

    @media (max-width: 900px) {
      max-width: 30rem;
    }

    @media (max-width: 667px) {
      max-width: 35rem;
    }

    @media (max-width: 375px) {
      max-width: 25rem;
    }

    &__logo {
      height: 11rem;

      @media (max-width: 760px) {
        height: 9rem;
      }
      @media (max-width: 375px) {
        height: 5rem;
      }
    }
  }

  &__text-box {
    max-width: 40rem;
    align-self: center;
    justify-self: end;

    @media (max-width: 900px) {
      max-width: 30rem;
      font-size: 2.5rem;
    }

    @media (max-width: 760px) {
      justify-self: start;
      max-width: 20rem;
    }

    &--title {
      color: $uniodonto;
      line-height: 4rem;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 2rem;
      animation: moveInLeft 1s ease-out;
      text-align: right;

      @media (max-width: 900px) {
        line-height: 3.5rem;
        font-size: 2.5rem;
      }

      @media (max-width: 760px) {
        font-size: 2rem;
        text-align: left;
      }

      @media (max-width: 375px) {
        font-size: 2rem;
      }
    }
  }
}
