.partners {
  margin-top: 5rem;
  content-visibility: auto;
  
  &__logos {
    width: 80%;
    margin: 0 auto 8rem;
    display: grid;
    grid-template-rows: 9rem;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 3rem;
    @media (max-width: 940px) {
      width: 90%;
    }


    &--containers {
      text-align: center;
      margin: auto;
    }

    &--img {
      max-height: 4rem;
      max-width: 8rem;
      transition: all .3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__logos-5 {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 9rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}