.site-footer-contato {
  background-color: $uniodonto;
  color: #ffffff;
  padding-top: 5rem;
  margin-top: 5rem;
  padding-bottom: 5rem;

  &__grid {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5rem;
    grid-template-areas: 
    "info"
    ;
  @media (max-width: 900px) {
    width: 90%;
  }

  @media (max-width: 760px) {
    width: 90%;
    margin: 2rem auto;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    grid-template-areas: 
    "contact"
    "info";
  }
  }


  &__info{
    display: grid;
    grid-area: info;
    column-gap: 2rem;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-items: start;
    font-size: 1.5rem;

    ion-icon,
    a{
      justify-self: end;
    &:last-child{
      justify-self: start;
    }
   }
  }
    
    @media (max-width: 900px) {
      font-size: 1.3rem;
    }

    @media (max-width: 760px) {
      justify-self: center;
      width: 80%;
      grid-template-columns: 1fr 6fr;
      row-gap: 1.6rem;
      column-gap: .5rem;
      padding-bottom: 4rem;


    }

    a {
      color: white;
      display: inline-block;
      padding: 0;
      font-size: 0.8rem;
      transition: all 0.2s;
      @media (max-width: 900px) {
        font-size: 0.5rem;
      }
  
      &:hover {
        color: $uniodontotext;
        transform:translateY(-.5rem);
      }
    }

  }

