.vantages-grid {
   display: grid;
   max-width: 80%;
   margin: 0 auto;
   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   column-gap: 7rem;
  content-visibility: auto;
}

.vantage-box{
  text-align: center;
  transition: all .3s;
  margin-top: 4rem;

  &:hover{
    transform: translateY(-1rem) scale(1.1);
  }

  &__icon{
    height: 12rem;
    @media (max-width: 900px) {
      font-size: 10rem;
    }
  }
  &__title{
    font-size: 2.7rem;
    line-height: 1.1;
    margin-bottom: 2rem;
    @media (max-width: 900px) {
      font-size: 1.8rem;
    }
  }
  &__text{
    font-size: 1.7rem;
    line-height: 1.1;
    @media (max-width: 900px) {
      font-size: 1.5rem;
    }
  }
}