.btn {
  font-size: 2rem;
  padding: 1rem 4rem;
  display: inline-block;
  text-align: center;
  border-radius: 1.3rem;
  transition: all 0.2s;
  border: transparent;

  @media (max-width: 667px) {
    font-size: 1.8rem;
    padding: .8rem 2rem;
  

  }

  &--wine {
    color: $uniodontotext;
    background-color: $uniodonto;
  }

  &--uniodonto {
    background-color: $uniodontotext;
    color: $uniodonto;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
  }
}