.menu {
  z-index: 1;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba($color: $colorMidnightBlue, $alpha: 0.8);
  @media (max-width: 760px) {
    display: none;  
  }


  &-itens {
    display: grid;
    max-width: 80%;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    grid-template-rows: auto;
    column-gap: 3rem;
    padding: 1rem;

    @media (max-width: 900px) {
      max-width: 90%;
    }
    @media (max-width: 760px) {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      row-gap: 2rem;
    }
  }

  &--content {
    justify-self: center;
    align-self: center;
    transition: all 0.2s;
    padding: 1rem;

    &:hover {
      transform: scale(1.1);
      color: $uniodontotext;
    }
  }

  &--link {
    color: white;
    font-size: 1.5rem;

    &:hover {
      color: $uniodontotext;
    }
  }
}
