.mobile{
  &-nav{  display: none;  
  
    @media (max-width: 760px){
      display: block;
    }

  }

  &__check{
    display: none;
  }

  &__btn{
    background-color: white;
    position: fixed;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    top: 4rem;
    right: 4rem;
    box-shadow: 0 1rem 3rem rgba($color: black, $alpha: 0.3);
    z-index: 3;
    text-align: center;
    cursor: pointer;
  }


  &__bg{
    position: fixed;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-image: radial-gradient($uniodonto, $uniodontoDarker);
    top: 4.5rem;
    right: 4.5rem;
    z-index: 1;
    transition: all .8s;
  }

  &__navigation{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    opacity: 0;
    width: 0;
  }

  &__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__itens{
    margin: 1rem;
    transition: all .2s;
    
    &:hover{
      color: $uniodontotext; 
      transform: scale(1.1);

  }
}

  &__link{
    font-size: 3rem;
    color: white;
    text-transform: uppercase;  
    transition: all .2s;

    &:hover{
      color: $uniodontotext; 

    }
  }

  &__check:checked ~ &__bg {
    transform: scale(90);

  }
  &__check:checked ~ &__navigation {
    opacity: 1;
    width: 100%;

  }

  // Icon

  &__icon {
    position: relative;
    margin-top: 2.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $uniodonto;
      display: inline-block;
    }

    &::after,
    &::before{
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {top: -1rem;}
    &::after {top: 1rem;}
  }

  &__check:checked + &__btn &__icon {
    background-color: transparent;
  }

  &__check:checked + &__btn &__icon::before {
    top: 0;
    transform: rotate(45deg);
  }

  &__check:checked + &__btn &__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }

}
