*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

::selection{
  background-color: $uniodonto;
  color: $uniodontotext;
}

html {
  // Definition of 1 rem to 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

section, 
footer,
header  {
  content-visibility: auto;
  contain-intrinsic-size: 250px;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;

}

ul,
ol {
  list-style: none;
}

ion-icon {
  font-size: 5rem;

  @media (max-width: 900px) {
    font-size: 3.5rem;
  }
}